@use './global.scss';
@use './colors.scss';

img {
  max-width: 100%;
}

.container {
  max-width: 116rem;
  margin: 0 auto;
  align-self: flex-end;
}

// general styles for all sections
.hero,
.s1,
.s2,
.s3,
.s4 {
  min-height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;

  &-content {
    padding: 0 2rem;
    margin-bottom: 4.2rem;
  }

  &-head {
    font-size: 3.8rem;
    margin-bottom: 1.2rem;
  }

  &-sub {
    font-size: 1.8rem;
    line-height: 1.4;
  }
}

.s1,
.s3,
.s4 {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(transparent, colors.$off-black);
    z-index: 0;
  }

  &-content {
    position: relative;
    z-index: 10;
  }

  &-img {
    z-index: 10;
  }

  &-type {
    position: relative;
    margin-bottom: 1.8rem;
    padding-left: 4rem;
    font-size: 1.8rem;

    &::after {
      content: "";
      width: 25px;
      height: 1px;
      background-color: colors.$white;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      border-radius: 2px;
    }
  }

  &-project-link {
    display: inline-block;
    color: colors.$white;
    font-size: 1.8rem;
    text-decoration: none;
    cursor: pointer;
    padding: 0.2rem 0;
    margin-top: 3.2rem;
    border-bottom: 1px solid colors.$white;
  }
}

@media (min-width: 768px) {
  .hero,
  .s1,
  .s2,
  .s3,
  .s4 {
    &::after {
      display: none;
    }

    &-content {
      padding: 0 3rem;
      margin-bottom: 5.2rem;
    }

    &-head {
      font-size: 4.8rem;
    }

    &-sub {
      width: 65%;
    }
  }
}

@media (min-width: 1024px) {
  .hero,
  .s1,
  .s2,
  .s3,
  .s4 {
    &-content {
      margin-bottom: 6.2rem;
    }

    &-head {
      font-size: 5.8rem;
    }

    &-sub {
      font-size: 1.8rem;
      width: 55%;
    }
  }
}

// hero banner
.hero {
  background-color: colors.$violet;
  color: colors.$pink;

  &-head {
    font-size: 5.8rem;
    margin-bottom: 0.8rem;
  }

  &-sub {
    font-size: 1.6rem;
    line-height: 1.4;
  }

  &-img {
    display: none;
  }

  @media (min-width: 768px) {
    &-head {
      font-size: 7.8rem;
    }

    &-sub {
      font-size: 1.8rem;
      width: 65%;
    }
  }

  @media (min-width: 1024px) {
    &-head {
      font-size: 9.8rem;
    }

    &-sub {
      width: 55%;
    }

    &-img {
      display: block;
      position: absolute;
      bottom: 3.2rem;
      right: 5%;
      width: 50%;
    }
  }
}

// henley financial project
.s1 {
  background-color: colors.$lavender;
  color: colors.$white;

  &-img {
    position: absolute;
    top: 0;
    right: 0;
    object-fit: cover;
    width: 80%;
  }

  @media (min-width: 768px) {
    &-img {
      width: 60%;
    }
  }

  @media (min-width: 1024px) {
    &-img {
      top: unset;
      bottom: 3.2rem;
      right: 5%;
      width: 50%;
    }
  }
}

// yellow section
.s2 {
  background-color: colors.$yellow;
  color: colors.$violet;

  &-img {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(180deg);
    object-fit: cover;
    width: 80%;
  }

  @media (min-width: 1024px) {
    &-img {
      position: absolute;
      top: unset;
      left: unset;
      transform: rotate(0);
      bottom: 0;
      right: 0;
      width: 50%;
    }
  }
}

// wespeak project
.s3 {
  background-color: colors.$deep-purple;
  color: colors.$white;

  &-img {
    position: absolute;
    top: 0;
    right: 0;
    object-fit: cover;
    width: 80%;
  }

  @media (min-width: 768px) {
    &-img {
      width: 60%;
    }
  }

  @media (min-width: 1024px) {
    &-img {
      top: unset;
      bottom: 3.2rem;
      right: 5%;
      width: 50%;
    }
  }
}

// design action plan
.s4 {
  background-color: colors.$pale-pink;
  color: colors.$white;

  &-img {
    position: absolute;
    top: 0;
    right: 0;
    object-fit: cover;
    width: 90%;
  }

  @media (min-width: 768px) {
    &-img {
      width: 70%;
    }
  }

  @media (min-width: 1024px) {
    &-img {
      top: unset;
      bottom: 3.2rem;
      right: 0;
      width: 55%;
    }
  }
}
